@color-A:#2b3137;
@color-B:#CED9E1;
@color-C:#7a868f;
@color-D:#B0BCC6;
@color-E:#DCE2E8;
@color-F:#D1E1ED;


html,
body{
    margin: 0; 
    width: 100%; 
    height: 100%; 
    background: @color-E;
    font-family: 'Codystar', '微軟正黑體';
}

#app{
    .relativeDiv{
        position: relative; 
        width: 100%;
        height: 100%;
    }

    .relativeDiv;
    > div{
        .relativeDiv;
    }
}

.wrapper{ 
    position: relative; 
    width: 100%;
    height: auto; 
    min-height: 100%; 

    header {
        z-index: 99999;
        position: relative; 
        width: 100%; 
        height: 50px; 
        background: @color-D; 
        color: @color-E;
        text-align: center; 
        font-size: 1.5em; 
        line-height: 50px; 
        // box-shadow: 0 5px 20px rgba(0,0,0,.4);
    }

    #main{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: relative;
        margin:0 auto;
        width: 580px;
        height: 860px;
        border: 1px dashed @color-D; 
        overflow: hidden;

        .BTN_Start{
            position: absolute;
            display: block;
            width: 260px;
            height: 70px;
            line-height: 70px;
            top: 50%;
            left: 50%;
            margin: -35px -130px;
            text-align: center;
            background: @color-C;
            color: @color-D;
            text-decoration: none;
            font-size: 45px;
            cursor: pointer;

            &:hover{
                background: @color-A;
                color: @color-C;
            }
        }

        #dragArea{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 255, 255, 0);
            z-index: 99999;
        }

        #dragon{
            position: absolute;
            width: 110px;
            height: 110px;
            top: 650px;
            left: 197px;
            background: url('../images/dragon.svg');
            background-size:  100% 100%;
        }

        .bubble{
            position: absolute;
            width: 56px;
            height: 56px;
            margin-top: -28px;
            margin-left: -28px;

            &.y {
                background: url(../images/smile_y.svg);
                background-size:  100% 100%;
            }

            &.r {
                background: url(../images/smile_r.svg);
                background-size:  100% 100%;
            }

            &.g {
                background: url(../images/smile_g.svg);
                background-size:  100% 100%;
            }

            &.b {
                background: url(../images/smile_b.svg);
                background-size:  100% 100%;
            }

            &.n {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                border: 1px dotted rgba(0, 0, 0, .1);
                height: 48px;
                width: 58px;
                margin-top: -24px;
                margin-left: -29px;
            }

            &.disapper{
                -webkit-animation: bubbleDisapper 1s linear forwards;
                -moz-animation: bubbleDisapper 1s linear forwards;
                -o-animation: bubbleDisapper 1s linear forwards;
                animation: bubbleDisapper 1s linear forwards;
            }

            @-webkit-keyframes bubbleDisapper {
                0% { opacity: 0;}
                16%, 33% { opacity: 1;}
                34%, 50% { opacity: 0;}
                51%, 66% { opacity: 1;}
                67%, 83% { opacity: 0;}
                84%, 100% { opacity: 1;}
            }
            @-moz-keyframes bubbleDisapper {
                0% { opacity: 0;}
                16%, 33% { opacity: 1;}
                34%, 50% { opacity: 0;}
                51%, 66% { opacity: 1;}
                67%, 83% { opacity: 0;}
                84%, 100% { opacity: 1;}
            }
            @-o-keyframes bubbleDisapper {
                0% { opacity: 0;}
                16%, 33% { opacity: 1;}
                34%, 50% { opacity: 0;}
                51%, 66% { opacity: 1;}
                67%, 83% { opacity: 0;}
                84%, 100% { opacity: 1;}
            }
            @keyframes bubbleDisapper {
                0% { opacity: 0;}
                16%, 33% { opacity: 1;}
                34%, 50% { opacity: 0;}
                51%, 66% { opacity: 1;}
                67%, 83% { opacity: 0;}
                84%, 100% { opacity: 1;}
            }

        }

        .bigMSG{
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            font-size: 72px;
            font-weight: 500;
            width: 580px;
            height: 860px;
            line-height: 860px;
        }
    }
}

footer{
    position: relative; 
    width: 100%; 
    height: 40px; 
    line-height:40px; 
    margin-top: -40px; 
    text-align: center; 
    background: @color-C; 
    color: @color-B; 
    font-size: 0.5em; 
}
